<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ls_retail" sortOrder="650" translate="label">
            <label>LS Retail</label>
        </tab>
        <section id="ls_mag" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>General Configuration</label>
            <tab>ls_retail</tab>
            <resource>Ls_Core::config</resource>
            <group id="ls_industry" translate="label" type="text" sortOrder="1" showInWebsite="1">
                <label>Industry</label>
                <field id="ls_choose_industry" translate="label" type="select" sortOrder="2" showInWebsite="1">
                    <label>Choose Industry</label>
                    <source_model>Ls\Core\Model\Config\Source\Industry</source_model>
                </field>
            </group>
        </section>
        <section id="general">
            <group id="single_store_mode" translate="label" type="text" sortOrder="150" showInDefault="1">
                <label>Single-Store Mode</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Single-Store Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Ls\Core\Model\Config\Backend\SingleStoreMode</backend_model>
                    <comment>This setting will not be taken into account if system has more than one store view.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
