@ls-store-icon-size: 20px;
@ls-store-icons-path: '../images/stores';

.ls-store-icon-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &::before {
        content: "";
        flex-shrink: 0;
        width: @ls-store-icon-size;
        height: @ls-store-icon-size;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &--store::before {
        background-image: url("@{ls-store-icons-path}/store.svg");
    }

    &--address {
        align-items: flex-start;

        &::before {
            margin-top: 2px;
            background-image: url("@{ls-store-icons-path}/address.svg");
        }
    }

    &--phone::before {
        background-image: url("@{ls-store-icons-path}/phone.svg");
    }

    &--hours {
        align-items: flex-start;

        &::before {
            margin-top: 2px;
            background-image: url("@{ls-store-icons-path}/hours.svg");
        }
    }
}

.ls-store-hours {
    td {
        vertical-align: top;
    }

    .dayofweek {
        padding-right: 1rem;
        white-space: nowrap;
    }
}
