.lsdiscountprice {
    text-decoration: line-through;
    color: #9e9e9e;
    display: block;
    text-align: left;
}

.lsdiscountprice2 {
    text-decoration: line-through;
    color: #9e9e9e;
    display: block;
}

.lsdiscountamount {
    color: red;
    font-weight: bold;
}

.minicart-items .product-item-details .lsdiscountamount .price {
    color: red;
}

.minicart-items .product-item-details .price {
    color: #9e9e9e;
}

.lsoriginalprice {
    font-weight: bold;


}