.lsdiscountprice {
    font-size: 13px;
    text-decoration: line-through;
    color: #9e9e9e;
    display: block;
    text-align: left;
}

.lsdiscountamount {
    color: red;
    font-size: 13px;
    font-weight: bold;
}

.lsoriginalprice {
    font-weight: bold;


}