<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ls_mag>
            <general>
                <enabled>0</enabled>
            </general>
            <ls_industry>
                <ls_choose_industry>retail</ls_choose_industry>
            </ls_industry>
        </ls_mag>
    </default>
</config>
