<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ls_mag>
            <ls_enable>
                <enabled>1</enabled>
            </ls_enable>
            <general>
                <enabled>0</enabled>
            </general>
            <ls_industry>
                <ls_choose_industry>retail</ls_choose_industry>
            </ls_industry>
            <standalone_features>
                <customer>1</customer>
            </standalone_features>
            <ls_order_management>
                <tender_type_mapping>{"item1":{"payment_method":"checkmo","tender_type":"2"},"item2":{"payment_method":"giftcard","tender_type":"8"},"item3":{"payment_method":"loypoints","tender_type":"4"}}</tender_type_mapping>
            </ls_order_management>
        </ls_mag>
    </default>
</config>
