<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ls\Webhooks\Api\OrderStatusInterface" type="Ls\Webhooks\Model\OrderStatus"/>
    <preference for="Ls\Webhooks\Api\OrderPaymentInterface" type="Ls\Webhooks\Model\OrderPayment"/>
    <preference for="Ls\Webhooks\Api\OrderShipmentInterface" type="Ls\Webhooks\Model\OrderShipment"/>
    <type name="Ls\Webhooks\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ls\Webhooks\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">webhooksLogHandler</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Ls\Webhooks\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- For adding document id in notification email -->
    <type name="Magento\Sales\Model\Order\Shipment\Notifier">
        <plugin name="ls_webhooks_set_document_id" type="Ls\Webhooks\Plugin\Shipment\Notifier" sortOrder="1"/>
    </type>

    <preference for="Ls\Webhooks\Api\Data\ReceiverInterface" type="Ls\Webhooks\Model\Notification\Receiver"/>
    <preference for="Ls\Webhooks\Api\Data\SenderInterface" type="Ls\Webhooks\Model\Notification\Sender"/>
</config>
