<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ls_mag">
            <group id="service">
                <field id="central_type" translate="label comment" type="select" sortOrder="40" showInWebsite="1">
                    <label>Ls Central Implementation</label>
                    <source_model>Ls\CommerceCloud\Block\Adminhtml\System\Config\Types</source_model>
                    <comment>
                        Ls Central is running as SaaS or on-premise? Please select the appropriate option.
                    </comment>
                </field>
                <field id="central_compatibility" translate="label comment" type="select" sortOrder="40" showInWebsite="1">
                    <label>Ls Central Compatibility</label>
                    <source_model>Ls\CommerceCloud\Block\Adminhtml\System\Config\Compatibility</source_model>
                    <depends>
                        <field id="*/*/central_type">1</field>
                    </depends>
                    <comment>
                        Newer version utilize Ls Central Saas OData V4
                    </comment>
                </field>
                <field id="ls_app_id" translate="label comment" type="text" sortOrder="40" showInWebsite="1">
                    <label>Ls Saas App ID</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="*/*/central_type">1</field>
                        <field id="*/*/central_compatibility">0</field>
                    </depends>
                    <comment>
                        Add a valid GUID for replication. Generate GUID from here https://www.guidgenerator.com
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
