<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ls_mag">
            <group id="service">
                <field id="ls_app_id" translate="label comment" type="text" sortOrder="10" showInWebsite="1">
                    <label>Nav App ID</label>
                    <comment>
                        Add a valid GUID for replication. Use this field only if you are using commerce service on cloud.
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
