<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <tab id="ls_retail" sortOrder="100" translate="label">
      <label>LS Retail</label>
    </tab>
    <section id="ls_omni" translate="label" type="text" sortOrder="101"
             showInDefault="1" showInWebsite="1" showInStore="1">
      <class>separator-top</class>
      <label>LS Omni Service</label>
      <tab>ls_retail</tab>
      <resource>Ls_Omni::config</resource>

      <group id="service" translate="label" type="text" sortOrder="10"
             showInDefault="1" showInWebsite="1" showInStore="0">
        <label>Configuration</label>

        <field id="base_url" translate="label" type="text" sortOrder="10"
               showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Service Base URL</label>
          <comment>http://lsretail.cloudapp.net/lsomniservice</comment>
        </field>
      </group>
    </section>
  </system>
</config>
