<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ls_mag">
            <tab>ls_retail</tab>
            <resource>Ls_Core::config</resource>
            <group id="webhooks"
                   translate="label"
                   type="text"
                   sortOrder="160"
                   showInDefault="1"
                   showInWebsite="1"
                   showInStore="1">
                <depends>
                    <field id="ls_mag/ls_enable/enabled">1</field>
                </depends>
                <label>Webhooks Configuration</label>
                <field id="webhooks_notification_type"
                       translate="label"
                       type="multiselect"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1">
                    <label>Notification Type</label>
                    <source_model>Ls\Webhooks\Model\Config\Source\NotificationType</source_model>
                    <comment>Please select the notification type you want your customer to receive as a result of webhooks</comment>
                </field>
                <field id="webhooks_email_notification_order_status"
                       translate="label"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1">
                    <label>Order Status Email Notification</label>
                    <depends>
                        <field id="webhooks_notification_type">email</field>
                    </depends>
                    <frontend_model>Ls\Webhooks\Block\Adminhtml\System\Config\OrderStatus</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Please select all the required order status you want to send the notification for</comment>
                </field>
            </group>
        </section>
    </system>
</config>
