<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_before">
        <observer name="ls_customer_graphql_save_before" instance="Ls\CustomerGraphQl\Observer\SaveBefore"/>
    </event>
    <event name="customer_save_after">
        <observer name="ls_customer_graphql_save_after" instance="Ls\CustomerGraphQl\Observer\SaveAfter"/>
    </event>
    <event name="customer_customer_authenticated">
        <observer name="customer_authentication_observer" instance="Ls\CustomerGraphQl\Observer\LoginAuthentication" />
    </event>
</config>
