<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="addMyButton" type="Ls\Omni\Plugin\Block\Adminhtml\Order\View"/>
    </type>
    <!-- for cancelling the order from admin -->
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="ls_omni_around_cancel_order_operation" type="Ls\Omni\Plugin\Order\OrderManagement" sortOrder="1"/>
    </type>
    <type name="Magento\Config\Model\Config\Structure\Element\Field">
        <plugin name="ls_omni_system_config_form_field"
                type="Ls\Omni\Plugin\Config\Model\Config\Structure\Element\FieldPlugin" sortOrder="1"/>
    </type>
    <!-- for fixing grand total in invoice -->
    <type name="Magento\Sales\Model\Order\Invoice\Total\Subtotal">
        <plugin name="ls_omni_order_invoice_subtotal" type="Ls\Omni\Plugin\Order\InvoiceCreditMemo\SubtotalPlugin" sortOrder="1"/>
    </type>
    <!-- for fixing subtotal in credit memo -->
    <type name="Magento\Sales\Model\Order\Creditmemo\Total\Subtotal">
        <plugin name="ls_omni_order_creditmemo_subtotal" type="Ls\Omni\Plugin\Order\InvoiceCreditMemo\SubtotalPlugin" sortOrder="1"/>
    </type>
    <!-- for creating one_list while creating order from admin -->
    <type name="Magento\Sales\Model\AdminOrder\Create">
        <plugin name="ls_omni_order_admin" type="Ls\Omni\Plugin\AdminOrder\CreatePlugin" sortOrder="1"/>
    </type>
    <!-- for fixing row_total while creating order from admin -->
    <type name="Magento\Quote\Model\Quote\Item\AbstractItem">
        <plugin name="ls_omni_correct_rowtotal" type="Ls\Omni\Plugin\Quote\Item\AbstractItemPlugin" sortOrder="1"/>
    </type>
</config>
