<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- For sending cart updates to omni  -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddProductsToCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddSimpleProductsToCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\ConfigurableProductGraphQl\Model\Resolver\AddConfigurableProductsToCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\UpdateCartItems">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\RemoveItemFromCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\MergeCarts">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\SalesGraphQl\Model\Resolver\Reorder">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <!-- Plugin that updates the price of the item in the minicart/cart page   -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\CartItemPrices">
        <plugin name="correcting_line_price" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartItemPricesPlugin"
                sortOrder="1"/>
    </type>
    <!-- Plugin to remove coupon -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\RemoveCouponFromCart">
        <plugin name="ls_omni_graphql_remove_coupon"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\RemoveCouponFromCartPlugin"
                sortOrder="1"/>
    </type>
    <!-- To verify stock quantity when updating cart items -->
    <type name="Magento\QuoteGraphQl\Model\Cart\UpdateCartItem">
        <plugin name="ls_omni_graphql_validate_qty" type="Ls\OmniGraphQl\Plugin\Model\Cart\UpdateCartItemPlugin"
                sortOrder="1"/>
    </type>
    <!-- To validate if click & collect could be used for cart -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\SetShippingMethodsOnCart">
        <plugin name="validate_selected_store_click_and_collect"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\SetShippingMethodsOnCartPlugin"
                sortOrder="1"/>
    </type>
    <!-- Plugin that returns the vat for the whole cart   -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\CartPrices">
        <plugin name="return_vat" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartPricesPlugin"
                sortOrder="1"/>
    </type>

    <!-- Plugin to set one_list_calculate in checkout_session   -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\CustomerCart">
        <plugin name="set_one_list_calculate_in_session" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Cart\GetCartForUser">
        <plugin name="set_one_list_calculate_in_session" type="Ls\OmniGraphQl\Plugin\Model\Resolver\GetCartForUserPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData">
                <item name="ls_mag_ls_industry_ls_choose_industry" xsi:type="string">ls_mag/ls_industry/ls_choose_industry</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\SetPaymentMethodOnCart">
        <plugin name="set_payment_method_without_address" type="Ls\OmniGraphQl\Plugin\Model\Resolver\SetPaymentMethodOnCartPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="inject_custom_values_place_order_response"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\PlaceOrderPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\SetPaymentAndPlaceOrder">
        <plugin name="inject_custom_values_place_order_response"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\PlaceOrderPlugin"
                sortOrder="1"/>
    </type>

    <type name="Ls\Omni\Helper\ContactHelper">
        <plugin name="clear_quote_checkout_session"
                type="Ls\OmniGraphQl\Plugin\Omni\Helper\ContactHelperPlugin"
                sortOrder="1"/>
    </type>
</config>
