<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- For sending cart updates to omni  -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddProductsToCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\AddSimpleProductsToCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\ConfigurableProductGraphQl\Model\Resolver\AddConfigurableProductsToCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\UpdateCartItems">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\RemoveItemFromCart">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\MergeCarts">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\SalesGraphQl\Model\Resolver\Reorder">
        <plugin name="dispatch_cart_changes_event" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartProductsPlugin"
                sortOrder="1"/>
    </type>
    <!-- Plugin that updates the price of the item in the minicart/cart page   -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\CartItemPrices">
        <plugin name="correcting_line_price" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartItemPricesPlugin"
                sortOrder="1"/>
    </type>
    <!-- Plugin to remove coupon -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\RemoveCouponFromCart">
        <plugin name="ls_omni_graphql_remove_coupon"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\RemoveCouponFromCartPlugin"
                sortOrder="1"/>
    </type>
    <!-- To verify stock quantity when updating cart items -->
    <type name="Magento\QuoteGraphQl\Model\Cart\UpdateCartItem">
        <plugin name="ls_omni_graphql_validate_qty" type="Ls\OmniGraphQl\Plugin\Model\Cart\UpdateCartItemPlugin"
                sortOrder="1"/>
    </type>
    <!-- To validate if click & collect could be used for cart -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\SetShippingMethodsOnCart">
        <plugin name="validate_selected_store_click_and_collect"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\SetShippingMethodsOnCartPlugin"
                sortOrder="1"/>
    </type>
    <!-- Plugin that returns the vat for the whole cart   -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\CartPrices">
        <plugin name="return_vat" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartPricesPlugin"
                sortOrder="1"/>
    </type>

    <!-- Plugin to set one_list_calculate in checkout_session   -->
    <type name="Magento\QuoteGraphQl\Model\Resolver\CustomerCart">
        <plugin name="set_one_list_calculate_in_session" type="Ls\OmniGraphQl\Plugin\Model\Resolver\CartPlugin"
                sortOrder="1"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Cart\GetCartForUser">
        <plugin name="set_one_list_calculate_in_session" type="Ls\OmniGraphQl\Plugin\Model\Resolver\GetCartForUserPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData">
                <item name="ls_mag_hospitality_takeaway_sales_type" xsi:type="string">ls_mag/hospitality/takeaway_sales_type</item>
                <item name="ls_mag_hospitality_delivery_salas_type" xsi:type="string">ls_mag/hospitality/delivery_salas_type</item>
                <item name="maps_api_key" xsi:type="string">omni_clickandcollect/general/maps_api_key</item>
                <item name="default_latitude" xsi:type="string">omni_clickandcollect/general/default_latitude</item>
                <item name="default_longitude" xsi:type="string">omni_clickandcollect/general/default_longitude</item>
                <item name="default_zoom" xsi:type="string">omni_clickandcollect/general/default_zoom</item>
                <item name="items_availability" xsi:type="string">omni_clickandcollect/checkout/items_availability</item>
                <item name="click_and_collect_payment_methods" xsi:type="string">carriers/clickandcollect/payment_option</item>
                <item name="show_loyalty_offers" xsi:type="string">ls_mag/loyalty/show_loyalty_offers</item>
                <item name="use_static_block" xsi:type="string">ls_mag/loyalty/use_static_block</item>
                <item name="show_point_offers" xsi:type="string">ls_mag/loyalty/show_point_offers</item>
                <item name="show_member_offers" xsi:type="string">ls_mag/loyalty/show_member_offers</item>
                <item name="show_general_offers" xsi:type="string">ls_mag/loyalty/show_general_offers</item>
                <item name="show_coupon_offers" xsi:type="string">ls_mag/loyalty/show_coupon_offers</item>
                <item name="loyalty_expiry_date_format" xsi:type="string">ls_mag/loyalty/loyalty_expiry_date_format</item>
                <item name="customer_username_prefix" xsi:type="string">ls_mag/loyalty/prefix</item>
                <item name="ls_recommend" xsi:type="string">ls_mag/ls_recommend/active</item>
                <item name="loyalty_points_cart" xsi:type="string">ls_mag/ls_loyaltypoints/cart</item>
                <item name="loyalty_points_checkout" xsi:type="string">ls_mag/ls_loyaltypoints/checkout</item>
                <item name="ls_coupons_cart" xsi:type="string">ls_mag/ls_coupons/cart</item>
                <item name="ls_coupons_checkout" xsi:type="string">ls_mag/ls_coupons/checkout</item>
                <item name="coupon_recommendations" xsi:type="string">ls_mag/ls_coupons/coupon_recommendations</item>
                <item name="ls_giftcard_cart" xsi:type="string">ls_mag/ls_giftcard/cart</item>
                <item name="ls_giftcard_checkout" xsi:type="string">ls_mag/ls_giftcard/checkout</item>
                <item name="ls_discounts_product_page" xsi:type="string">ls_mag/ls_discounts/discount</item>
                <item name="ls_discounts_login_register_notice" xsi:type="string">ls_mag/ls_discounts/discount_login_register_notice</item>
                <item name="opening_hours_time_format" xsi:type="string">ls_mag/ls_stores/timeformat</item>
                <item name="magento_order_number_prefix" xsi:type="string">ls_mag/ls_order_management/prefix</item>
                <item name="shipping_item_id" xsi:type="string">ls_mag/ls_order_management/shipping_item_id</item>
                <item name="shipping_tax" xsi:type="string">ls_mag/ls_order_management/shipping_tax</item>
                <item name="pickup_date_time_slot" xsi:type="string">ls_mag/delivery_pickup_date_time/pickup_date_time_slot</item>
                <item name="pickup_time_interval" xsi:type="string">ls_mag/delivery_pickup_date_time/pickup_time_interval</item>
                <item name="pickup_date_format" xsi:type="string">ls_mag/delivery_pickup_date_time/pickup_date_format</item>
                <item name="pickup_time_format" xsi:type="string">ls_mag/delivery_pickup_date_time/pickup_time_format</item>
                <item name="notification_pickup" xsi:type="string">ls_mag/webhooks/notification_pickup</item>
                <item name="notification_collected" xsi:type="string">ls_mag/webhooks/notification_collected</item>
                <item name="notification_cancel" xsi:type="string">ls_mag/webhooks/notification_cancel</item>
                <item name="ls_mag_ls_industry_ls_choose_industry" xsi:type="string">ls_mag/ls_industry/ls_choose_industry</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\SetPaymentMethodOnCart">
        <plugin name="set_payment_method_without_address" type="Ls\OmniGraphQl\Plugin\Model\Resolver\SetPaymentMethodOnCartPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\AvailablePaymentMethods">
        <plugin name="clickandcollect_available_payment_methods" type="Ls\OmniGraphQl\Plugin\Model\Resolver\AvailablePaymentMethodsPlugin"
                sortOrder="2"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Resolver\PlaceOrder">
        <plugin name="inject_custom_values_place_order_response"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\PlaceOrderPlugin"
                sortOrder="1"/>
    </type>

    <type name="Magento\QuoteGraphQl\Model\Resolver\SetPaymentAndPlaceOrder">
        <plugin name="inject_custom_values_place_order_response"
                type="Ls\OmniGraphQl\Plugin\Model\Resolver\PlaceOrderPlugin"
                sortOrder="1"/>
    </type>

    <type name="Ls\Omni\Helper\ContactHelper">
        <plugin name="clear_quote_checkout_session"
                type="Ls\OmniGraphQl\Plugin\Omni\Helper\ContactHelperPlugin"
                sortOrder="1"/>
    </type>
</config>
