<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_save_after">
        <observer name="CartObserver" instance="Ls\Omni\Observer\CartObserver"/>
    </event>

    <event name="sales_order_place_after">
        <observer name="OrderObserver" instance="Ls\Omni\Observer\OrderObserver"/>
    </event>
</config>
