<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="lsrInvalid" xsi:type="string">Ls\Replication\Model\Message\Invalid</item>
                <item name="licenseInvalid" xsi:type="string">Ls\Replication\Model\Message\LicenseInvalid</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="cronlinkmessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">
                        \Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE
                    </item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Ls_Replication::cron/cronlinkmessage.phtml</item>
                    </item>
                </item>
                <item name="resetmessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">
                        \Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE
                    </item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Ls_Replication::messages/resetmessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscWiItemBuffer\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_wi_item_buffer</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscWiItemBuffer</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscWiPrice\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_wi_price</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscWiPrice</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscInventoryLookupTable\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_inventory_lookup_table</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscInventoryLookupTable</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscBarcodes\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_barcodes</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscBarcodes</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscDataTranslation\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_data_translation</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscDataTranslation
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplDataTranslationLangCode\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_data_translation_lang_code</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplDataTranslationLangCode
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscWiExtdVariantValues\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_wi_extd_variant_values</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplLscWiExtdVariantValues
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscRetailImageLink\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_retail_image_link</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscRetailImageLink</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplVariantregview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_variantregview</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplVariantregview
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplItemVariant\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_item_variant</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplItemVariant
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplHierarchyview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_hierarchyview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplHierarchyview</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplHierarchynodesview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_hierarchynodesview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplHierarchynodesview
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplHierarchynodeslinkview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_hierarchynodeslinkview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplHierarchynodeslinkview
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscAttribute\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_attribute</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscAttribute</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscAttributeValue\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_attribute_value</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscAttributeValue
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscAttributeOptionValue\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_attribute_option_value</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplLscAttributeOptionValue
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplDiscount\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_discount</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplDiscount</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplPeriodicdiscview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_periodicdiscview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplPeriodicdiscview
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscValidationPeriod\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_validation_period</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscValidationPeriod
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplItemCategory\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_item_category</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplItemCategory
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplProductGroup\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_product_group</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplProductGroup
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplStoreview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_storeview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplStoreview</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplItemuomupdview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_itemuomupdview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplItemuomupdview
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplUnitOfMeasure\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_unit_of_measure</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplUnitOfMeasure
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplVendor\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_vendor</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplVendor</argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplVendoritemview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_vendoritemview</argument>
            <argument name="resourceModel" xsi:type="string">
                Ls\Replication\Model\ResourceModel\ReplVendoritemview
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplVatPostingSetup\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_vat_posting_setup</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplVatPostingSetup
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplLscTenderType\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_lsc_tender_type</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplLscTenderType
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Ls\Replication\Model\ResourceModel\ReplCountryview\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ls_replication_repl_countryview</argument>
            <argument name="resourceModel" xsi:type="string">Ls\Replication\Model\ResourceModel\ReplCountryview
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Backend\Model\Menu\Config">
        <plugin name="ls_replication_remove_menu_item_admin" type="Ls\Replication\Plugin\Admin\Config"/>
    </type>
</config>
