.customer-order-view {
  .block-order-details-view-loyalty {
    .custom-box {
      .box-title {
        padding-right: 20px;
        font-weight: 600;
      }
    }
  }
}

.coupons-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.coupons-grid li.item {
  flex: auto;
  max-width: min-content;
  padding: 0px 25px;
  list-style: none;
  min-width: 25%;
  float: left;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border: 0;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 20px;
}

.coupons-grid li.last {
}

.coupons-view h2 {
  margin-left: 60px;
}

.coupons-grid li img {
  margin-top: 8px;
  vertical-align: middle;
}

.coupons-grid li div.item-img-cont {

}

.coupons-grid li div.title {


}

.coupon-info div.code {
}

.coupon-info div.coupon-description {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.coupon-info div span {
  display: inline-block;
  border: 0;
  font-size: 13px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
/* Order History ============================================================================= */
.sales-order-history {
  .orders-history {
    select,
    input {
      width: auto;
    }
  }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .coupons-grid li.item {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .coupons-grid li.item {
    flex: 100%;
    max-width: 100%;
  }
}


/* Notifications ============================================================================= */

.notifications-grid li.item {
  border-bottom: 1px darkgrey solid;
}

.notifications-grid li.last {
  border-bottom: 1px darkgrey solid;
}

.notifications-grid li table tr th.notification-image img {
  width: 110px;
}

.notification-info div {
  padding-top: 10px;
  bottom: 0px;
  min-height: 85px;
  width: 100%;
}

.notification-info th.notification-title span {
  width: 250px;
  display: block;
}

.notification-info th.notification-description span {
  width: 180px;
  display: block;
}

.notification-info div span {
  background: #3399cc;
  display: inline-block;
  padding: 7px 15px;
  border: 0;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 600px;
  margin: 20px auto;
}

/* Dashboard ================================================================================= */

.club-info {
  margin: 25px 0;
}

.club-info table tr td {
  padding: 0 30px 0 0;
}

.club-next-level {
  margin: 25px 0;
}

.club-next-level table tr td {
  padding: 0 30px 0 0;
}

.club-next-level-benefits {
  margin: 25px 0;
}

.club-next-level-benefits table tr td {
  padding: 0 30px 0 0;
}

/* Transactions ================================================================================= */

.transactions-info {
  margin: 25px 0;
}

.transactions-info table {
  width: 100%;
}

.transactions-info table tr td {
  width: 33%;
  padding: 10px;
  color: #ff674a;
  font-size: larger;
}

table.transactions-table tr td {
  width: 35%;
  padding: 5px 20px;
  font-size: larger;
  cursor: pointer;
}

table.transactions-table tr th {
  text-align: center;
}

table.transactions-table tr td.amount {
  text-align: right;
}

table.transactions-table tr:hover {
  background-color: #a7a9ac;
}

.transactions-info div.rows table {
  width: 100%;
}

.transactions-info div.rows table tr td {
  width: 33%;
  padding: 10px;
  color: #2a5d75;
}

.transactions-info div.rows table tr:hover {
  background-color: #a7a9ac;
}

.transaction-container div.additional-info {
  margin: 20px 0;
}

.transaction-container div.sale-lines {
  display: block;
  width: 100%;
}

.transaction-container div.sale-lines thead {
  display: block;
}

.transaction-container div.sale-lines thead th {
  text-align: center;
}

.transaction-container div.sale-lines thead th.name {
  max-width: 350px;
  width: 350px;

}

.transaction-container div.sale-lines thead th.price {
  max-width: 60px;
  width: 60px;

}

.transaction-container div.sale-lines thead th.qty {
  max-width: 40px;
  width: 40px;

}

.transaction-container div.sale-lines thead th.subtotal {
  max-width: 100px;
  width: 100px;
}

.transaction-container div.sale-lines tbody {
  display: block;
  max-height: 250px;
  overflow-y: auto;
}

.transaction-container div.sale-lines tbody td {
  text-align: right;
  padding: 0 15px 0 0;
}

.transaction-container div.sale-lines tbody td.name {
  max-width: 350px;
  width: 350px;
  text-align: left;
}

.transaction-container div.sale-lines tbody td.price {
  max-width: 60px;
  width: 60px;

}

.transaction-container div.sale-lines tbody td.qty {
  max-width: 40px;
  width: 40px;

}

.transaction-container div.sale-lines tbody td.subtotal {
  max-width: 100px;
  width: 100px;

}

.transaction-container div.sale-lines table.transaction-totals-table {
  width: 100%;
  display: block;
  margin: 25px 0;
}

.transaction-container div.sale-lines tbody td.first {
  max-width: 480px;
  width: 480px;
  padding: 0 20px 0 0;
  vertical-align: baseline !important;
}

.transaction-container div.sale-lines tbody td.last {
  max-width: 100px;
  width: 100px;
  padding: 0 25px 0 0;
  vertical-align: baseline !important;
}

/* Customer Form Register Edit ================================================================================= */

.form-list div.profiles span {
  margin: 0 10px 0 0;
}

.header-inline {
  display: inline;
}