<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Api\CustomerRepositoryInterface"
                type="Magento\Customer\Model\ResourceModel\CustomerRepository"/>

    <preference for="Magento\Sales\Block\Order\Recent"
                type="Ls\Customer\Block\Order\Recent"/>
    <preference for="Magento\Sales\Block\Order\History"
                type="Ls\Customer\Block\Order\History"/>
</config>

