<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- right now, am not really sure weather its functional or not, as by default magento already handle this type od exceptions. -->
<!--    <preference for="Magento\Customer\Model\Customer\Attribute\Backend\Password"
                type="Ls\Customer\Model\Customer\Attribute\Backend\Password"/>-->
</config>

