<div class="row mt-4">
    <div class="col-md-6">
        <!-- ko if: getErrorMessages() -->
        <div style="color:red" class="error-messages" data-bind="'html': getErrorMessages()"></div>
        <!-- /ko -->
        <form method="post" data-role="save"
              data-bind="submit:checkGiftCardBalance">
            <div
                    data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                <div class="field field-email required">
                    <label class="label"><span
                            data-bind="i18n: 'Gift Card Code:'"></span><span style="color:red">*</span></label>
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="gift_card_code"
                               name="gift_card_code"
                               data-validate="{'required-entry':true}"
                               data-bind="attr:{placeholder: $t('Enter Gift Card Code')} "/>
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action  primary"><span
                            data-bind="i18n: 'Check Balance'"></span></button>
                    <button type="button" class="action  primary"
                            data-bind="'value': $t('Reset'), click: cancelGiftCardBalance"><span
                            data-bind="i18n: 'Reset'"></span></button>
                </div>
            </div>
        </form>
        <div class="giftcardinfo mt-5">
            <div class="container">
                <div class="row">
                    <!-- ko if: getGiftCardBalance()-->
                    <div>
                        <p><strong><span data-bind="'html': $t('Your balance is: ')"></span><span
                                data-bind="'html': getGiftCardBalance()"></span></strong></p>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: getGiftCardExpiryDate()-->
                    <div class="col-sm">
                        <p><strong><span data-bind="'html': $t('Gift Card Expiry Date')"></span></strong></p>
                    </div>
                    <div class="col-sm">
                        <p><span data-bind="'html': getGiftCardExpiryDate()"></span></p>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>