<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

  <system>

    <tab id="ls_retail" sortOrder="100" translate="label">
      <label>LS Retail</label>
    </tab>

    <section id="ls_mag" translate="label" type="text" sortOrder="100"
             showInDefault="1" showInWebsite="1" showInStore="1">

      <class>separator-top</class>
      <label>General Configuration</label>
      <tab>ls_retail</tab>
      <resource>Ls_Core::config</resource>

      <group id="general" translate="label" type="text" sortOrder="10"
             showInDefault="1" showInWebsite="1" showInStore="1">

        <label>General Configuraion</label>

        <field id="enabled" translate="label" type="select" sortOrder="10"
               showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
      </group>
    </section>
  </system>
</config>
