<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ls_mag>
            <service>
                <debug>0</debug>
                <advanced>0</advanced>
                <timeout>10</timeout>
            </service>
            <return_policy>
                <show_return_policy>0</show_return_policy>
            </return_policy>
            <ls_loyaltypoints>
                <cart>1</cart>
                <checkout>1</checkout>
            </ls_loyaltypoints>
            <ls_coupons>
                <cart>1</cart>
                <checkout>1</checkout>
                <coupon_recommendations>1</coupon_recommendations>
            </ls_coupons>
            <ls_giftcard>
                <cart>1</cart>
                <checkout>1</checkout>
            </ls_giftcard>
            <ls_discounts>
                <discount>1</discount>
                <discount_login_register_notice>0</discount_login_register_notice>
                <discount_mixandmatch_limit>15</discount_mixandmatch_limit>
            </ls_discounts>
            <ls_stores>
                <timeformat>h:i A</timeformat>
            </ls_stores>
            <ls_basket_calculation>
                <place_to_sync>0</place_to_sync>
            </ls_basket_calculation>
            <ls_order_management>
                <shipping_item_id>66010</shipping_item_id>
                <shipping_tax>0.00</shipping_tax>
            </ls_order_management>
            <delivery_pickup_date_time>
                <pickup_date_time_slot>0</pickup_date_time_slot>
                <pickup_time_interval>30</pickup_time_interval>
                <pickup_date_format>Y-m-d</pickup_date_format>
                <pickup_time_format>h:i A</pickup_time_format>
            </delivery_pickup_date_time>
        </ls_mag>
        <!-- For Click and Collect -->
        <omni_clickandcollect>
            <general>
                <default_latitude>52.1349</default_latitude>
                <default_longitude>-0.04615</default_longitude>
                <default_zoom>6</default_zoom>
                <!-- This needs to be replaced on Production-->
                <maps_api_key></maps_api_key>
            </general>
            <checkout>
                <items_availability>0</items_availability>
            </checkout>
        </omni_clickandcollect>
        <carriers>
            <clickandcollect>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <payment_option>ls_payment_method_pay_at_store</payment_option>
                <price>0</price>
                <model>Ls\Omni\Model\Carrier\Clickandcollect</model>
                <name>Fixed</name>
                <title>Click And Collect</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.
                </specificerrmsg>
            </clickandcollect>
        </carriers>
        <payment>
            <ls_payment_method_pay_at_store>
                <title>Pay at the Store</title>
                <active>1</active>
                <order_status>pending_payment</order_status>
                <model>Ls\Omni\Model\Payment\PayStore</model>
                <group>offline</group>
                <sort_order>-1</sort_order>
            </ls_payment_method_pay_at_store>
        </payment>
        <tax>
            <display>
                <type>2</type>
            </display>
            <cart_display>
                <price>2</price>
                <subtotal>2</subtotal>
            </cart_display>
            <sales_display>
                <price>2</price>
                <subtotal>2</subtotal>
            </sales_display>
            <calculation>
                <apply_tax_on>1</apply_tax_on>
                <price_includes_tax>1</price_includes_tax>
            </calculation>
            <sales_display>
                <subtotal>2</subtotal>
            </sales_display>
        </tax>
    </default>
</config>
