<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="WatchNextCartSaveObserver" instance="Ls\Omni\Observer\WatchNextCartSaveObserver" />
    </event>
    <event name="checkout_cart_update_items_after">
        <observer name="WatchNextCartSaveObserver" instance="Ls\Omni\Observer\WatchNextCartSaveObserver"/>
    </event>
    <event name="sales_quote_remove_item">
        <observer name="WatchNextCartSaveObserver" instance="Ls\Omni\Observer\WatchNextCartSaveObserver"/>
    </event>
    <event name="checkout_cart_save_after">
        <observer name="CartObserver" instance="Ls\Omni\Observer\CartObserver"/>
    </event>

    <!-- For click and collect  -->
    <event name="sales_model_service_quote_submit_before">
        <observer name="copy_pickup_info_from_quote_to_order" instance="Ls\Omni\Observer\DataAssignObserver"/>
    </event>

    <event name="sales_order_place_after">
        <observer name="OrderObserver" instance="Ls\Omni\Observer\OrderObserver"/>
    </event>
</config>
