<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- For coupon code plus all other extension attributes -->
    <event name="sales_model_service_quote_submit_before">
        <observer name="copy_coupon_plus_other_extension_attributes_from_quote_to_order" instance="Ls\Omni\Observer\DataAssignObserver"/>
    </event>
    <!-- for fixing grand total and base grand total -->
    <event name="sales_quote_address_collect_totals_after">
        <observer name="sales_quote_totals_after" instance="Ls\Omni\Observer\SalesObserver"/>
    </event>
</config>
