<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <ls_omni>
      <service>
        <base_url>http://lsretail.cloudapp.net/lsomniservice</base_url>
      </service>
    </ls_omni>
  </default>
</config>
