/* Default CSS */
.invalid-lsr {
    text-align: center;
    background: #0f101b;
    padding: 10px;
    color: #fff;
}

.product-items .owl-carousel .product-item.product-slider {

    width: 100%;

}