.ls-repl-grid-container .data-grid .data-grid-th._sortable .data-grid-cell-content{
  white-space: nowrap;
}

.ls-repl-grid-container .data-grid .data-grid-cell-content{
  text-align: center;
}
.ls-repl-grid-container .data-grid .data-grid-cell-content .custom-grid-flag{
  color: white;
  border-radius: 44%;
  padding: 2px;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  width: 80px;
  margin:0 auto;
}
.ls-repl-grid-container .data-grid .data-grid-cell-content .flag-green{
  background: green;

}

.ls-repl-grid-container .data-grid .data-grid-cell-content .flag-yellow{
  background: #ffb000;
}