<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <!-- For Click and Collect and gift card enable/disable on checkout -->
                <item name="clickandcollect_config_provider" xsi:type="object">Ls\Omni\Model\Checkout\DataProvider
                </item>
                <!-- For Payment Method Pay at Store -->
                <item name="paystore_config_provider" xsi:type="object">Ls\Omni\Model\PayStoreConfigProvider</item>
                <!-- In order to get all the available coupons in the window.checkoutConfig -->
                <item name="custom-coupons" xsi:type="object">Ls\Omni\Model\Checkout\CouponsProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Action\AbstractAction">
        <plugin name="sr-customer-app-action-dispatchController-context-plugin" type="Ls\Omni\Plugin\App\Action\Context"
                sortOrder="15"/>
    </type>
    <type name="Magento\Customer\Controller\Section\Load">
        <plugin name="ls_omni_session_unblocker" type="Ls\Omni\Plugin\Session\SectionLoadControllerPlugin"/>
    </type>
    <type name="Ls\Omni\Plugin\Session\SectionLoadControllerPlugin">
        <arguments>
            <argument name="additionalSessions" xsi:type="array">
                <item name="customerSession" xsi:type="object">Magento\Customer\Model\Session</item>
                <item name="messageSession" xsi:type="object">Magento\Framework\Message\Session</item>
                <item name="catalogSession" xsi:type="object">Magento\Catalog\Model\Session</item>
                <item name="reviewSession" xsi:type="object">Magento\Review\Model\Session</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ConfigurableProduct\Model\ConfigurableAttributeData">
        <plugin name="ls_omni_attribute_option_data_sort" type="Ls\Omni\Plugin\Product\AttributeData" sortOrder="10" />
    </type>
    <!-- To Override Tax Calculator -->
    <preference for="Magento\Tax\Model\Sales\Total\Quote\Tax" type="Ls\Omni\Model\Tax\Sales\Total\Quote\Tax"/>
    <!-- To stop magento for re-calculating tax on custom price. -->
    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="ls.checkout.cart.tax.nocustompricing" type="Ls\Omni\Model\Sales\Total\Quote\CommonTaxCollector"
                sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="checkout_layout_processor" type="Ls\Omni\Plugin\Checkout\Model\LayoutProcessorPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Block\Cart\CartTotalsProcessor">
        <plugin name="cart_totals_layout_processor" type="Ls\Omni\Plugin\Cart\Model\CartTotalsProcessorPlugin" sortOrder="1"/>
    </type>
    <!-- for cancelling the order from frontend -->
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="ls_omni_around_cancel_order_operation" type="Ls\Omni\Plugin\Order\OrderManagement" sortOrder="1"/>
    </type>
</config>
