<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- For Wishlist  -->
    <event name="controller_action_postdispatch_wishlist_index_add">
        <observer name="WishlistAddObserver" instance="Ls\Omni\Observer\WishlistObserver"/>
    </event>
    <event name="controller_action_postdispatch_wishlist_index_update">
        <observer name="WishlistUpdateObserver" instance="Ls\Omni\Observer\WishlistObserver"/>
    </event>
    <event name="controller_action_postdispatch_wishlist_index_updateItemOptions">
        <observer name="WishlistUpdateItemOptionsObserver" instance="Ls\Omni\Observer\WishlistObserver"/>
    </event>
    <event name="controller_action_postdispatch_wishlist_index_remove">
        <observer name="WishlistRemoveObserver" instance="Ls\Omni\Observer\WishlistObserver"/>
    </event>
    <event name="controller_action_postdispatch_wishlist_index_cart">
        <observer name="WishlistSaveObserver" instance="Ls\Omni\Observer\WishlistObserver"/>
    </event>
    <event name="controller_action_postdispatch_wishlist_index_allcart">
        <observer name="WishlistSaveObserver" instance="Ls\Omni\Observer\WishlistObserver"/>
    </event>
    <!-- For Coupon Code -->
    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="coupon_code" instance="Ls\Omni\Observer\CouponCodeObserver"/>
    </event>
    <event name="checkout_cart_save_after">
        <observer name="CartObserver" instance="Ls\Omni\Observer\CartObserver"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="OrderObserver" instance="Ls\Omni\Observer\OrderObserver"/>
    </event>
    <event name="controller_action_postdispatch_sales_order_reorder">
        <observer name="CartObserver" instance="Ls\Omni\Observer\CartObserver"/>
    </event>
    <!-- event for Adyen -->
    <event name="adyen_payment_process_resulturl_after">
        <observer name="OrderObserver" instance="Ls\Omni\Observer\OrderObserver"/>
    </event>
    <!-- for fixing grand total and base grand total -->
    <event name="sales_quote_address_collect_totals_after">
        <observer name="sales_quote_totals_after" instance="Ls\Omni\Observer\SalesObserver"/>
    </event>
    <!-- event for adding item to cart from requisition list -->
    <event name="controller_action_postdispatch_requisition_list_item_addtocart">
        <observer name="CartObserver" instance="Ls\Omni\Observer\CartObserver"/>
    </event>
</config>
