<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="LoginObserver" instance="Ls\Customer\Observer\LoginObserver" />
    </event>
    <event name="controller_action_postdispatch_customer_account_createpost">
        <observer name="RegisterObserver" instance="Ls\Customer\Observer\RegisterObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_logout">
        <observer name="LogoutObserver" instance="Ls\Customer\Observer\LogoutObserver" />
    </event>
</config>
